-e code/
-e git+https://git@github.com/arielrossanigo/yaer.git@master#egg=yaer
-f https://download.pytorch.org/whl/torch/
-f https://download.pytorch.org/whl/torchvision/
-f https://download.pytorch.org/whl/torchaudio/
torch==1.9.1+cu111
torchvision==0.10.1+cu111
torchaudio==0.9.1
Cython==0.29.32
ijson==3.1.4
timm==0.6.7
wget==3.2
scikit-image==0.19.3
scipy==1.8.0
numpy==1.22.3
pillow==9.1.0
transformers==4.12.3
matplotlib==3.5.1
spacy==3.2.2
stanza==1.2.3
spacy_stanza==1.0.0
textacy==0.11.0
pytorch-lightning==1.6.3
colorama==0.4.4
fairscale==0.4.10
setuptools==59.5.0
pandas==1.5.3
pyarrow==12.0.0
fastparquet==2023.4.0
seaborn==0.12.2
tqdm==4.66.1
typing_extensions==4.5.0
